<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Supreme Lifecare | Staff</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dashboard/dist/css/adminlte.min.css">
    <link rel="shortcut icon" href="/images/icon-logo.png" type="image/x-icon" />
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed"><!--layout-footer-fixed-->
    <div class="wrapper">
        <!-- Preloader -->
        <% if(!dev){ %>
            <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__wobble" src="/images/icon-logo.png" alt="Dashboard Logo" height="60" width="60">
            </div>
            <% } %>
                <!-- Navbar -->
                <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
                                    class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="/admin/profile" class="nav-link">Profile</a>
                        </li>
                    </ul>

                    <!-- Right navbar links -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="/drive/image/<%= user.ProfilePic || 'defaultpic.png' %>" class="user-image imgfix img-circle elevation-2"
                                    alt="User Image" style="height: 25px; width: 25px;">
                                <span class="d-none d-md-inline">
                                    <%=name%>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <a href="/admin/profile" class="dropdown-item">
                                    <i class="fas fa-user"></i> Profile
                                </a>
                                <a href="/auth/logout" class="dropdown-item">
                                    <i class="fas fa-sign-out-alt"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <aside class="main-sidebar sidebar-light-lightblue elevation-4">
                    <!-- Brand Logo -->
                    <a href="/dashboard" class="brand-link">
                        <img src="/images/icon-logo.png" alt="Dashboard Logo" class="brand-image img-circle elevation-3"
                            style="opacity: .8">
                        <span class="brand-text font-weight-light">Supreme Lifecare</span>
                    </a>

                    <!-- Sidebar -->
                    <div class="sidebar">
                        <!-- SidebarSearch Form -->
                        <div class="form-inline mt-3">
                            <div class="input-group" data-widget="sidebar-search">
                                <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                                    aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-sidebar">
                                        <i class="fas fa-search fa-fw"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Menu -->
                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                                data-accordion="false">
                                <li class="nav-item">
                                    <a href="/admin" class="nav-link">
                                        <i class="fas fa-home nav-icon"></i>
                                        <p>Home</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/appoinments" class="nav-link">
                                        <i class="fas fa-calendar-check nav-icon"></i>
                                        <p>Appoinments</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/results" class="nav-link">
                                        <i class="fas fa-poll nav-icon"></i>
                                        <p>Results</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/tests" class="nav-link">
                                        <i class="fas fa-vials nav-icon"></i>
                                        <p>Tests</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/category" class="nav-link">
                                        <i class="fas fa-columns nav-icon"></i>
                                        <p>Categories</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/users" class="nav-link">
                                        <i class="fas fa-users nav-icon"></i>
                                        <p>Users</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        <i class="fas fa-user-nurse nav-icon"></i>
                                        <p>Lab Assistants</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/contactreq" class="nav-link">
                                        <i class="fas fa-phone-alt nav-icon"></i>
                                        <p>Contact Request</p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /.sidebar-menu -->
                    </div>
                    <!-- /.sidebar -->
                </aside>
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1 class="m-0">Supreme Lifecare</h1>
                                </div><!-- /.col -->
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                        <li class="breadcrumb-item active">Assistants</li>
                                    </ol>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </div>
                    <hr>
                    <section class="content">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Lab Assistants</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body p-0" style="display: block;">
                                    <table class="table table-striped table-responsive-sm projects">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Joined At</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% data.forEach((user, index)=> { %>
                                                <tr>
                                                    <td>
                                                        <%= index + 1 %>
                                                    </td>
                                                    <td>
                                                        <span>
                                                            <%=user.FirstName%>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <%= user.Email %>
                                                    </td>
                                                    <td>
                                                        <%= user.createdAt.toString().split('GMT')[0] %>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-primary btn-sm" data-id="<%= user.id %>">
                                                            <i class="fas fa-eye">
                                                            </i>
                                                        </button>
                                                        <button class="btn btn-info btn-sm" data-id="<%= user.id %>">
                                                            <i class="fas fa-pencil-alt">
                                                            </i>
                                                        </button>
                                                        <button class="btn btn-danger btn-sm" data-id="<%= user.id %>">
                                                            <i class="fas fa-trash">
                                                            </i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </section>
                    <a id="back-to-top" href="#" class="btn btn-secondary back-to-top" role="button"
                        aria-label="Scroll to top">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                </div>
                <footer class="main-footer">
                    <strong>Copyright &copy; 2023-2024 <a href="/">Supreme Lifecare</a>.</strong>
                    All rights reserved.
                    <div class="float-right d-none d-sm-inline-block">
                        <b>Version</b> 1.0 (beta)
                    </div>
                </footer>
    </div>

    <script src="/dashboard/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script defer src="/dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script defer src="/dashboard/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script defer src="/dashboard/dist/js/adminlte.js"></script>
    <!--Sweetalert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom script -->
    <script src="/dashboard/dist/js/custom.js"></script>
</body>

</html>